<div id="wrap">
  <nav role="navigation" id="header" class="navbar navbar-default navbar-static-top">
    <div class="container">
      <a href="/" class="navbar-backtobrand-trigger hidden-xs"><span class="ion-arrow-left-c"></span></a>
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-headernav-collapse" class="navbar-toggle"><span class="sr-only">Toggle section navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/keystone" class="active navbar-brand">MEX管理后台</a>
      </div>
      <div class="collapse navbar-collapse navbar-headernav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="divider"></li>
          <li><a href="/keystone/signout" class="signout">退出</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a href="/admin/posts">博文</a></li>
          <li><a href="/admin/galleries">画册</a></li>
          <li><a href="/admin/users">用户</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="body">
    <div class="container">
      <div id="home-view"></div>  
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <p>
      	魅族商城UED  
      Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a> version 0.3.22. Signed in as <a href="/keystone/teams/583fc3ca9e97926c3d8a8161">樱 桃</a>.
    </p>
  </div>
</div>